body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #252323;
    color: #fff;
}

.scrollme-demo {
	.box {
		width:100px;
		height: 100px;
		display: block;
		border-radius: 4px;
		background-color: #fff;
	}

    .button {
        padding: 10px;
        background-color: #0066FF;
        color: white;
        border-radius: 2px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s;
    }
    .button:hover {
        background-color: #074FBB;
        transition: all .3s;
    }
    .button:active {
        position: relative;
        top: 1px;
        left: 1px;
    }
    .button:focus {
        outline: none;
        background-color: #35FD58;
        color: #072F14;
    }
    .divider {
        color: rgba(255, 255, 255, 0.1);
        border: none;
        border-bottom: solid 1px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.85);
    }
}